@import "DiagramWidget";
@import "LinkLayerWidget";
@import "NodeLayerWidget";
@import "NodeWidget";
@import "PortWidget";

//defaults
@import "defaults/DefaultNodeWidget";
@import "defaults/DefaultPortWidget";
@import "defaults/DefaultLabelWidget";
@import "defaults/DefaultLinkWidget";