.srd-diagram{
  position: relative;
  flex-grow: 1;
  display: flex;
  cursor: move;
  overflow: hidden;

  &__selector{
    position: absolute;
    background-color: rgba(0,192,255,0.2);
    border: solid 2px rgb(0,192,255);
  }
}