@import "../src/sass";

.docs-preview-wrapper{
	background: rgb(60,60,60);
	border-radius: 10px;
	overflow: hidden;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.storm-diagrams-canvas{
	height: 100%;
	min-height: 300px;
	background-color: rgb(60,60,60);
	$color: rgba(white, .05);
	background-image:
		linear-gradient(0deg,
			transparent 24%,
			$color 25%,
			$color 26%,
			transparent 27%,
			transparent 74%,
			$color 75%,
			$color 76%,
			transparent 77%,
			transparent),
		linear-gradient(90deg,
			transparent 24%,
			$color 25%,
			$color 26%,
			transparent 27%,
			transparent 74%,
			$color 75%,
			$color 76%,
			transparent 77%,
			transparent);
	background-size:50px 50px;

	path{
		stroke: rgba(white,0.5);
	}

	.pointui{
		fill: rgba(white,0.5);
	}
}
