.body{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-height: 100%;

	.header{
		display: flex;
		background: rgb(30,30,30);
		flex-grow: 0;
		flex-shrink: 0;
		color: white;
		font-family: Helvetica, Arial;
		padding: 10px;
		>*{
			align-self:center;
		}
	}

	.content{
		display: flex;
		flex-grow: 1;

		.diagram-layer{
			position: relative;
			flex-grow: 1;
		}

		.tray{
			min-width: 200px;
			background: rgb(20,20,20);
			flex-grow: 0;
			flex-shrink: 0;

			.tray-item{
				color: white;
				font-family: Helvetica, Arial;
				padding: 5px;
				margin: 0px 10px;
				border: solid 1px;
				border-radius: 5px;
				margin-bottom: 2px;
				cursor: pointer;
			}
		}
	}
}

.storm-diagrams-canvas{
	$color: rgba(white, .05);
	background: rgba(black,0.2);
	background-image:
		linear-gradient(0deg,
			transparent 24%,
			$color 25%,
			$color 26%,
			transparent 27%,
			transparent 74%,
			$color 75%,
			$color 76%,
			transparent 77%,
			transparent),
		linear-gradient(90deg,
			transparent 24%,
			$color 25%,
			$color 26%,
			transparent 27%,
			transparent 74%,
			$color 75%,
			$color 76%,
			transparent 77%,
			transparent);
	background-size:50px 50px;

	path{
		stroke: rgba(white,0.5);
	}

	.pointui{
		fill: rgba(white,0.5);
	}
}
